@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  color-scheme: dark;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $main-dark-color;
  margin: 0;
}

.material-icons {
  user-select: none;

  &.hide-icon {
    visibility: hidden;
  }
}
