/* USER INTERFACE */
@mixin ui-section() {
  max-height: 100vh;
  overflow-y: auto;

  @media (max-width: $SMALL_SIZE_RESPONSIVE) {
    max-height: none;
  }
}

@mixin ui-button($inactive: false) {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: none;
  background: $main-blue-color;
  color: $font-light-color;
  font-weight: bold;
  font-size: 13px;
  min-height: 22px;

  &:hover {
    cursor: pointer;
  }

  @if ($inactive) {
    background: $main-medium-color;
    border: 2px solid $main-light-color;
  }
}

@mixin ui-header-item() {
  border: none;
  padding: 12px;
  user-select: none;
  display: inline-flex;
  align-items: center;
  background: $main-dark-color;
  color: $font-light-color;
  font-family: sans-serif;
  font-size: 14px;

  &:hover {
    background: $main-light-color;
    cursor: pointer;
  }
}

@mixin ui-header() {
  top: 0;
  position: sticky;
  display: inline-flex;
  background: $main-medium-color;
  width: 100%;
  gap: 1px;
  z-index: 2;

  .header-stretch-split {
    flex-grow: 1;
  }

  .header-button {
    @include ui-header-item;

    .header-icon {
      font-size: 14px;
      margin-right: 6px;
    }
  }
}

@mixin ui-dropdown() {
  position: relative;
  background: $main-dark-color;
  z-index: 3;

  .dropdown-button {
    @include ui-header-item;

    &.active {
      background: $main-light-color;
    }

    .dropdown-icon {
      margin-left: 6px;
      transform: scale(2);
      font-size: 14px;
    }
  }

  .dropdown-list {
    position: absolute;
    list-style: none;
    background: $main-light-color;
    width: 100%;
    padding: 0;
    margin: 0;

    .dropdown-item {
      @include text-overflow;
      padding: 10px 6px;
      color: $font-light-color;
      font-family: sans-serif;
      text-align: center;
      font-size: 14px;

      &:hover {
        background: $main-medium-color;
        color: $font-light-color;
        cursor: pointer;
      }
    }
  }
}

@mixin ui-modal() {
  $modal-margin: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: $modal-margin;
  border-radius: 4px;
  border: 2px solid $main-light-color;
  box-shadow: 0 0 $modal-margin * 3 black;
  transform: translate(-50%, -50%);
  background: $main-dark-color;
  color: $font-light-color;
  padding: $modal-margin;
  max-width: 300px;
  left: 50%;
  top: 50%;
  z-index: 5;

  .modal-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    column-gap: $modal-margin;

    .modal-title {
      font-size: 20px;
      color: $font-light-color;
      margin: 0;
    }

    .modal-close {
      cursor: pointer;
    }
  }

  .modal-content {
    margin: 0 0 $modal-margin / 4;
  }

  .modal-buttons {
    display: inline-flex;
    column-gap: $modal-margin / 2;
    margin-left: auto;

    .modal-big-button,
    .modal-button {
      @include ui-button(true);
    }

    .modal-big-button {
      column-gap: 6px;
      padding: 20px;

      .modal-button-icon {
        font-size: 20px;
      }
    }

    .main-button {
      @include ui-button;
    }
  }
}

/* UTILITY */
@mixin input-outline() {
  $shadow: 0 0 0 1px $font-light-color;
  box-shadow: $shadow, inset $shadow;
  border-radius: 3px;
  outline: none;
}

@mixin text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin inactive-background($z-index) {
  z-index: $z-index;
  background: rgba(black, 0.33);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
