/* USER INTERFACE */
@mixin ui-section() {
  max-height: 100vh;
  overflow-y: auto;

  @media (max-width: $SMALL_SIZE_RESPONSIVE) {
    max-height: none;
  }
}

@mixin ui-button() {
  border: none;
  padding: 12px;
  user-select: none;
  display: inline-flex;
  align-items: center;
  background: $main-dark-color;
  color: $font-light-color;
  font-family: sans-serif;
  font-size: 14px;

  &:hover {
    background: $main-light-color;
    cursor: pointer;
  }
}

@mixin ui-header() {
  display: inline-flex;
  background: $main-medium-color;
  width: 100%;
  gap: 1px;

  .header-stretch-split {
    flex-grow: 1;
  }

  .header-button {
    @include ui-button;

    .header-icon {
      font-size: 14px;
      margin-right: 6px;
    }
  }
}

@mixin ui-dropdown() {
  position: relative;
  background: $main-dark-color;
  z-index: 2;

  .dropdown-button {
    @include ui-button;

    &.active {
      background: $main-light-color;
    }

    .dropdown-icon {
      margin-left: 6px;
      transform: scale(2);
      font-size: 14px;
    }
  }

  .dropdown-list {
    position: absolute;
    list-style: none;
    background: $main-light-color;
    width: 100%;
    padding: 0;
    margin: 0;

    .dropdown-item {
      @include text-overflow;
      padding: 10px 6px;
      color: $font-light-color;
      font-family: sans-serif;
      text-align: center;
      font-size: 14px;

      &:hover {
        background: $main-medium-color;
        color: $font-light-color;
        cursor: pointer;
      }
    }
  }
}

/* UTILITY */
@mixin input-outline() {
  $shadow: 0 0 0 1px $font-light-color;
  box-shadow: $shadow, inset $shadow;
  border-radius: 3px;
  outline: none;
}

@mixin text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
