/* ENUMS */
$MEDIUM_SIZE_RESPONSIVE: 1199px;
$SMALL_SIZE_RESPONSIVE: 699px;

$GRID_COLUMNS_AMOUNT: 3;
$ITEM_TRANSITION_TIME: 0.25s;
$ARRAY_GRID_GAP: 14px;
$HEADER_HEIGHT: 40px;

/* VARIABLES */
$main-blue-color: #525ee0;

$main-light-color: #313e59;
$main-medium-color: #172136;
$main-dark-color: #071022;

$font-light-color: #cbd9f4;
$font-medium-color: #8cabe6;
